@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.RenderingVariants.Extensions
@using Sitecore.XA.Foundation.RenderingVariants.Fields
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.XA.Foundation.Variants.Abstractions.Fields
@using Sitecore.Mvc.Helpers
@using Sitecore.Mvc


@model Sitecore.XA.Foundation.Variants.Abstractions.Models.VariantsRenderingModel

@*@if (Model.DataSourceItem != null || Html.Sxa().IsEdit)
{*@
    <div class="card card-simple px-3 shadow">
        <div class="card-body">
            <h3 class="card-title">@Html.Sitecore().Field("Title", Model.Item)</h3>
            @Html.Sitecore().Placeholder("dateintro")
        </div>
        <div class="card-footer">
            <ul class="list-inline d-flex mb-0">
                <li class="list-inline-item">
                    <a href="" aria-label="Visualizza PDF ..." title="Visualizza PDF">
                        <i class="far fa-file-pdf fa-2x"></i>
                    </a>
                </li>
                <li class="list-inline-item ml-auto">
                    <a href="" aria-label="Tutta la sezione ..." title="Tutta la sezione">
                        <i class="far fa-arrow-alt-circle-right fa-2x"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    @*<div class="component-content">
            @if (Model.DataSourceItem == null)
            {
            @Model.MessageIsEmpty
            }
            else
            {
            foreach (BaseVariantField variantField in Model.VariantFields)
            {
            @Html.RenderingVariants().RenderVariant(variantField, Model.Item, Model.RenderingWebEditingParams, Model)
            }
            }
        </div>*@
@*}*@