@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.RenderingVariants.Extensions
@using Sitecore.XA.Foundation.RenderingVariants.Fields
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.XA.Foundation.Variants.Abstractions.Fields
@using Sitecore.Mvc.Helpers
@using Sitecore.Mvc


@model Sitecore.XA.Foundation.Variants.Abstractions.Models.VariantsRenderingModel

@*@if (Model.DataSourceItem != null || Html.Sxa().IsEdit)
{*@
    <section class="section section-primary section-bg-bottom">
        <div class="container-fluid py-3 py-md-4">
            <h2>Titolo sezione</h2>
            <div class="row">
                <div class="col-12 col-lg-6 d-flex">
                    @Html.Sitecore().Placeholder("left-column-2colsection")
                </div>
                <div class="col-12 col-lg-6 d-flex">
                    @Html.Sitecore().Placeholder("right-column-2colsection")
                </div>
            </div>
        </div>
    </section>
    @*<div class="component-content">
            @if (Model.DataSourceItem == null)
            {
            @Model.MessageIsEmpty
            }
            else
            {
            foreach (BaseVariantField variantField in Model.VariantFields)
            {
            @Html.RenderingVariants().RenderVariant(variantField, Model.Item, Model.RenderingWebEditingParams, Model)
            }
            }
        </div>*@
@*}*@